<!DOCTYPE html>
<html lang="de">
<head>
	<title>KÖNIGSTEINER JOBS – Informieren Sie sich über unsere Stellenangebote!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="HandheldFriendly" content="True" />

<meta name="keywords" content="KÖNIGSTEINER, Jobs, Stellenangebote, offene Stellen, Stellenmarkt, Vertrieb, Personalmarketing, Mediengestaltung, Kundenberatung, Kontakt, Key Account Manager">
<meta name="description" content="Jobs bei der KÖNIGSTEINER – Vertriebler, Kundenberater, Personalmarketingspezialisten und Mediengestalter haben bei uns beste Perspektiven – jetzt bewerben!">

		<link type="text/css" rel="stylesheet" href="css/main.css" />		
		<link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.0.6-master-ba130f2/angular-material.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.css">
		<link rel="stylesheet" type="text/css" href="css/xml_style.css">

</head>
<body>
<div id="scrolltotop"><span>&nbsp;</span></div>

	<div class="wrap">

			<div id="header">
				<div class="headerdeskfix">
					<a href="http://www.koenigsteiner-karriere.de/" title="Karriere-Website KÖNIGSTEINER AGENTUR GmbH"><span>&nbsp;</span></a>
					<a href="index.html"><img src="images/koenigsteiner_slogan.png" class="slogan" title="Karriere-Website KÖNIGSTEINER AGENTUR GmbH" alt="" /></a>
					<div class="toclear"></div>
				</div>

				<h3><span>&bdquo;</span> DER AUFGEWECKTE...<span> &rdquo;</span></h3>
				<img src="images/top_aufgeweckter.jpg" class="topimage" alt="" />

				<div class="motto">
					<span class="motto_arrow">&nbsp;</span>
					<p>ist hellwach und zuverlässig, auch wenn es mal wieder kurz vor 12 ist.</p>
				</div>

					<div id="naviposition">
						<div class="mob_fix">
						<a href="index.html"><img src="images/ka-logo.gif" class="logo_koenigsteiner" title="Karriere-Website KÖNIGSTEINER AGENTUR GmbH" alt="" /></a>
						</div>

						<input type="checkbox" id="nav-trigger" class="nav-trigger" />
						<label for="nav-trigger"><span>&equiv;</span></label>

						<ul class="navigation">
							<li class="nav-item-mob"><a href="index.html"><span class="home">&nbsp;</span>Home<span>&nbsp;</span></a></li>
							<li class="nav-item-mob"><a href="stellenangebote.html">Stellenangebote<span>&nbsp;</span></a></li>
							<li class="nav-item-mob" id="arbeitsbereiche">
								<a class="less" href="#">&nbsp;</a>
								<a class="more" href="#arbeitsbereiche">&nbsp;</a>
								<a target="_self" href="#">Arbeitsbereiche</a>
								<ul class="navigation_sub">
									<li class="nav-item-mob first"><a href="jobs_vertrieb.html"><span>&nbsp;</span>Vertrieb</a></li>
									<li class="nav-item-mob"><a href="jobs_kundenberatung.html"><span>&nbsp;</span>Kundenberatung</a></li>
									<li class="nav-item-mob"><a href="jobs_mediengestalter.html"><span>&nbsp;</span>Mediengestalter Print/Online</a></li>
									<li class="nav-item-mob"><a href="jobs_azubi_studenten.html"><span>&nbsp;</span>Azubis/Studenten</a></li>
									<li class="nav-item-mob"><a href="jobs_personalmarketing.html"><span>&nbsp;</span>Personalmarketing</a></li>
								</ul>
							</li>
							<li class="nav-item-mob"><a href="werte.html">Werte<span>&nbsp;</span></a></li>
							<li class="nav-item-mob"><a href="charaktere.html">Charaktere<span>&nbsp;</span></a></li>
							<li class="nav-item-mob"><a href="kontakt.html">Kontakt<span>&nbsp;</span></a></li>
						</ul>

						<div class="toclear"></div>
 
					</div>

			</div><!--End Header-->
    
			<div id="content">

				<div id="navdeskposition">
				<ul class="desknavi">
					<li class="nav-item active"><div class="arrow"></div><a href="stellenangebote.html">
                    	<span class="link_bez">Stellenangebote</span>
                        <span class="link_txt">Hier wartet die KÖNIGSTEINER Stellen&shy;börse auf Sie. Infor&shy;mieren Sie sich über unsere aktuellen Angebote!</span></a>
					</li>
      
					<li class="nav-item a2"><div class="arrow"></div><a href="werte.html">
                    	<span class="link_bez">Werte</span>
                        <span class="link_txt">Lernen Sie die KÖNIGSTEINER besser kennen. Erfahren Sie, welche Werte&shy;vor&shy;stellungen unser Handeln prägt.</span></a>
					</li>

					<li class="nav-item"><div class="arrow"></div><a href="charaktere.html">
                    	<span class="link_bez">Charaktere</span>
                        <span class="link_txt">Lesen Sie sich jetzt unsere Mitarbeiter-&#8203;Statements durch und machen Sie sich ein Bild von den Königsteinern.</span></a>
					</li>

					<li class="nav-item a4"><div class="arrow"></div><a href="kontakt.html">
                    	<span class="link_bez">Kontakt</span>
                        <span class="link_txt">Sie sind nur noch einen Klick von unserem Königsteiner-&#8203;Kontakt-&#8203;Team entfernt – sprechen Sie uns an!</span></a>
					</li>
				</ul>
                </div>

				<div class="article firstmobile">
					<div class="toclear"></div>
					<img src="images/icon_txt_info.png" class="icon" alt="" />
					<h2>KÖNIGSTEINER Jobs – infor&shy;mieren Sie sich über Ihre Möglich&shy;keiten bei uns!</h2>
					<p>Motivation, Engagement und den Willen, sich selbst und neue Dinge auszu&shy;probieren – wer viel davon mitbringt, kann es bei der KÖNIGSTEINER weit bringen! </p>
					<p>Die Jobmöglich&shy;keiten sind bei uns ebenso bunt gemischt wie unsere Teams. Ob Vertrieb, Kunden&shy;beratung, Medien&shy;gestaltung, Personal&shy;marketing oder Einsteiger&shy;jobs – informieren Sie sich jetzt aus&shy;führlich über Ihr zukünftiges Arbeits&shy;feld und bewerben Sie sich über das jeweilige Job&shy;angebot! </p>
					<p>Wenn Sie Fragen zu uns oder unseren Stellen&shy;angeboten haben, nehmen Sie einfach Kontakt zu uns auf! </p>
					<p>Wir freuen uns darauf, Sie kennen&shy;zulernen!</p>
				</div>

				<div class="article nomobile">
					<div class="toclear"></div>
					<img src="images/icon_txt_stern.png" class="icon" alt="" />
					<h2>KÖNIGSTEINER Arbeits&shy;bereiche</h2>
					<p>Bei uns lernen Sie nicht nur unsere Mitarbeiter kennen, sondern können sich auch ausführlich über unsere Arbeits&shy;bereiche infor&shy;mieren – klicken Sie dazu einfach auf einen der unten&shy;stehenden Bereiche und erfahren Sie mehr!</p>
					<div class="toclear"></div>
						<ul class="desksubnavi">
							<li class="subnav-item"><a href="jobs_vertrieb.html">Vertrieb<span class="zus_txt">&nbsp;>>></span><br />
								<span class="arrow">&nbsp;</span></a></li>
							<li class="subnav-item"><a href="jobs_kundenberatung.html">Kundenberatung<span class="zus_txt">&nbsp;>>></span><br />
								<span class="arrow">&nbsp;</span></a></li>
							<li class="subnav-item"><a href="jobs_mediengestalter.html">Mediengestalter Print/Online<span class="zus_txt">&nbsp;>>></span><br />
								<span class="arrow">&nbsp;</span></a></li>
							<li class="subnav-item"><a href="jobs_personalmarketing.html">Personalmarketing<span class="zus_txt">&nbsp;>>></span><br />
								<span class="arrow">&nbsp;</span></a></li>
							<li class="subnav-item"><a href="jobs_azubi_studenten.html">Azubis/Studenten<span class="zus_txt">&nbsp;>>></span><br />
								<span class="arrow">&nbsp;</span></a></li>
							<li class="subnav-item"><a>&nbsp;</a></li>
						</ul>
				</div>

				<div class="toclear"></div>

				<div class="section">
					<div class="design"></div>
					<img src="images/icon_txt_akte_weiss.png" class="icon" alt="" />
					<h4>JOB&shy;ANGEBOTE</h4>
					<h5>BEI DER KÖNIGSTEINER AGENTUR</h5>
					<div class="xml ng-cloak"  data-ng-app="MyApp">
						<section data-ng-controller="mainCtrl">
							<div class="job_content">									
									<div class="sort_content">

										<div style="float: left; width: 18.5%;margin-left: 57%; display: inline-block;">
											<button class="sortorder_location md-button" data-ng-click="order('location')">
						         			<i data-ng-show="predicate === 'date' || predicate === '' || predicate === 'location' && reverse">&#9650;</i>
						         			<i data-ng-show="predicate === 'location' && !reverse">&#9660;</i>
						         			Ort
						         			</button>		
										</div>
										<div style="float: left; width: 20%; display: inline-block;">
											<button class="sortorder_date md-button" data-ng-click="order('date')">
						         			<i data-ng-show="predicate === 'location' || predicate === '' || predicate === 'date' && reverse">&#9650;</i>
						         			<i data-ng-show="predicate === 'date' && !reverse">&#9660;</i>
						         			Datum
						         			</button>
										</div>
									</div>
								<ul>
									<li data-ng-repeat="xmlList in details | orderBy:predicate:reverse" class="md-button item" data-ng-class="{firstEl:$first}" >
										<a class="stellenLink" href="{{xmlList.url}}" target="_blank">
											<div class="stellen_content">
												<span class="position">{{ xmlList.position }}</span>
												<span class="location">{{ xmlList.location }}</span>
												<span class="divider"> | </span>
												<span class="date">{{ xmlList.date }}</span>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</section>
					<p class="small">Falls heute nicht der passende Job für Sie dabei ist, können Sie uns trotzdem gerne eine Initiativ&shy;bewerbung zukommen lassen – wir freuen uns auf Sie!</p>
                    </div>
					<div class="toclear"></div>
				</div>
					<div class="design2"></div>

				<img src="images/koeag-line.jpg" class="line" alt="" />

				<img src="images/buttons_social_media_kununu.jpg" class="social_kununu" alt="" />
				<a href="https://www.xing.com/company/koenigsteiner" target="_blank"><img src="images/buttons_social_media_xing.png" class="social_xing" alt="" /></a>

					<p class="foot"><a href="datenschutz_impressum.html">Impressum</a> <span>|</span> <a href="datenschutz_impressum.html">Datenschutz</a> <span>|</span> <a href="http://www.koenigsteiner-agentur.de/" title="Homepage KÖNIGSTEINER AGENTUR GmbH">KÖNIGSTEINER AGENTUR</a>
					</p>


			</div><!--End Content-->
	</div>

<!-- jQuery Library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.0.min.js"></script>

<!-- Angular Library -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script type="text/javascript" src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.0.6-master-ba130f2/angular-material.js"></script>	

	<!-- Material JS -->
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.min.js"></script> -->


<!-- Converter XML 2 Json -->
<!-- <script type="text/javascript" src="media/js/xml2json.js"></script> -->

<!-- Custom - Modules -->

	<!-- Angular -->
		<script type="text/javascript" src="js/app.module.js"></script>
		<script type="text/javascript" src="js/app.testCtrl.js"></script>
		<script type="text/javascript" src="js/app.mainController.js"></script>
	<!-- Scroller -->		
        <script type="text/javascript" src="js/scroll.js"></script>
</body>
</html>