#scrolltotop span{
	background: transparent;
	text-align:center;
	border-bottom: 8px solid #fff;
	border-left: 16px solid transparent; 
	border-right: 16px solid transparent;
}
#scrolltotop {
	text-align: center;
	position: fixed;
	visibility: hidden;
	z-index: 99999;
	height: 44px;
	width: 44px;
	right: 30px;
	bottom: 30px;
	padding: 0 0 44px 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	border-radius: 8px;
	background-color: rgba(170, 170, 170, 0.8);
}
#scrolltotop:hover {
	background-color: rgba(100, 100, 100, 0.8);
}
#scrolltotop.show {
	visibility: visible;
	cursor: pointer;
	opacity: 1;
}
#scrolltotop.show-out {
	visibility: visible;
	cursor: pointer;
	opacity: .5;
}
.navigation, input, label {
	display:none;
}
#navdeskposition{
	max-width:1200px;
	margin:0 auto;
	position:absolute;
	top:-140px;
	left:0;
	right:0;
}
#navdeskposition.fix{
	position:fixed;
	top:80px;
	left:0;
	right:0;
	z-index:1000;
	max-width:1200px;
	width:100%;
	margin:0 auto;
}
.desknavi{
	list-style: none;
	background: rgba(255,255,255,0.8);
	overflow:hidden;
	height:125px;
	margin-bottom:44px;
}
.nav-item {
	height:100px;
	width: 25%;
	float:left;
	background: #66b257;
	padding-top:35px;
	text-align:center;
}
.nav-item .link_bez{
	color:#fff;
	font-size:26px;
	line-height:30px;
}
.nav-item:hover .link_bez{
	color:#6773b7;
}
.nav-item .link_txt{
	font-size:14px;
	line-height:19px;
	text-align:left;
	padding: 20px 26px;
	margin:-67px 0 0 0;
	height:100px;
	color:#fff;
	text-decoration:none;
	background: #6773b7; 
	display:none;
}
.nav-item:hover .link_txt{
	display:block;
}
.nav-item a {
	text-decoration:none;
}
.nav-item .arrow {
	position: absolute; 
	margin:30px auto;
	background: transparent; 
}  
.nav-item .arrow:after {
	content: ""; 
	position: absolute; 
	top:34px; left: 120px; 
	width: 0; height: 0; 
	text-align:center;
	border-top: 12px solid #66b257;
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent;
}

.a2, .a4 {
	height:100px;
	opacity:0.8;
}
h3 {
	background: #000;
}
.active .link_bez{
	display:block;
	padding:35px 0;
	margin:-35px 0 0 0;
	color:#fff;
	background: #6773b7; 
}
.active .arrow:after { 
	border-top: 12px solid #6773b7;
	cursor:default;
}
.active:hover .link_txt{
	display:none;
}
.active:hover .link_bez{
	color:#fff;
	cursor:default;
}
.nav-item:hover .arrow:after {
	border-top: 12px solid #6773b7; 
}


.desksubnavi {
	width: 73%;
	position: relative;
	list-style: none;
	float:left;
	margin-left:18%;
}
.subnav-item {
	height:52px;
	white-space:nowrap;
}
.subnav-item .arrow {
	position: relative; 
	margin:0 auto;
	background: transparent; 
} 
.subnav-item .arrow:after {
	content: ""; 
	position: absolute; 
	top:0; left: 260px; 
	width: 0; height: 0; 
	text-align:center;
	border-top: 12px solid #66b257;
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent;
}
.subnav-item:nth-child(1) {
	margin-top:26px;
}
.subnav-item a{
	color:#fff;
	text-decoration:none;
	display: block;
	width:100%;
	background: #85C17B;
	padding:6px 0 6px 20px;
	font-size:17px;
	line-height:35px;
	background: #85C17B;
}
.subnav-item:nth-child(6) a{
	background: #fff;
	height:33px;
}


.subnav-item a .zus_txt{
	color: #85C17B;
}
.subnav-item:nth-child(2n+1) a .zus_txt{
	color:#66b257;
}
.subnav-item:hover a .zus_txt{
	color:#fff;
}
.subnav-item:nth-child(6) a:hover{
	background: #fff;
	cursor:default;
}
.subnav-item:nth-child(2n+1) a{
	background: #66b257;
}

.subnav-item:nth-child(2n) .arrow:after {
	border-top: 12px solid #85C17B;
}
.subnav-item:nth-child(2n+1):hover .arrow:after, .subnav-item:nth-child(2n):hover .arrow:after {
	border-top: 12px solid #6773B7; 
}
.subnav-item a:hover {
	background: #6773b7;
	color: #fff;
}
.desksubnavi .active a {
	background: #6773B7; 
	cursor:default;
}
.desksubnavi .active .arrow:after {
	border-top: 12px solid #6773B7;
}
@media screen and (max-width: 1100px) {

.nav-item .link_txt{
	font-size:13px;
	line-height:19px;
	padding: 15px 10px;
}

.subnav-item .arrow:after { 
	position: absolute; 
	top:0; left: 200px; 
}
}
@media screen and (max-width: 880px) {
.arrow:after {
	position: absolute; 
	top:-25px; left: 120px; 
}
.subnav-item .arrow:after { 
	position: absolute; 
	top:0; left: 170px; 
}
}
@media screen and (max-width: 900px) {
.nav-item .link_txt{
	font-size:13px;
	line-height:16px;
	padding: 10px 10px;
}
}
@media screen and (max-width: 800px) {
.navigation, input, label {
	display:block;
}

.navigation {
	position: relative;
	top: -80px;
	left: -265px;
	z-index:9999;
	width: 265px;
	list-style: none;
	background: #fff;
	display:block;
}
.navigation .nav-item-mob {
	position: relative;
	list-style: none;
	margin-bottom: 1px;
	width: 100%;
}
.navigation .nav-item-mob a {
	background: #494948;
	padding: 10px 0 10px 35px;
	display: block;
	color: #fff;
	text-decoration: none;
	font-size:13px;
	line-height:18px;
}
.navigation .nav-item-mob a span {
	position: absolute;
	top: 14px;
	right: 15px;
	padding: 0;
	width: 20px;
	height: 20px;
	background: #494948 url(../images/arrows.png) no-repeat;
	background-position: 0 -80px;
}
.navigation .nav-item-mob a .home {
	top: 12px;
	left: 10px;
	font-size: 17px;
	line-height:17px;
	background-position: 0 -150px;
}
.navigation .navigation_sub .nav-item-mob a span {
	top: 14px;
	left: 35px;
	padding: 0;
	width: 20px;
	height: 20px;
	background-color: #999;
	background-position: 0 -80px;
}
.navigation .nav-item-mob a.more, .navigation .nav-item-mob a.less {
	display: block;
	z-index: 500;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	width: 80px;
	height: 35px;
	background: #494948 url(../images/arrows.png) no-repeat;
}
.navigation .nav-item-mob a.more {
	background-position: 44px -64px;
}
.navigation .nav-item-mob a.less {
	background-position: 44px -105px;
}
.navigation .nav-item-mob .navigation_sub {
	width: 100%;
	position: relative;
}

.navigation .nav-item-mob .navigation_sub .nav-item-mob {
	height: 0;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	overflow: hidden;
	margin-bottom: 0;
}
.navigation .nav-item-mob .navigation_sub a {
	background: #999;
	line-height:20px;
	padding: 10px 0 10px 60px;
}
.navigation .nav-item-mob:target .navigation_sub .nav-item-mob{
	border-bottom: 1px solid #fff;
}
.navigation .nav-item-mob:target .navigation_sub .first a{
	border-top: 1px solid #fff;
}
.navigation .nav-item-mob:target .navigation_sub .nav-item-mob:nth-child(5){
	border-bottom: 0px solid #999;
	border-bottom: none;
	height: 39px;
}
.navigation .nav-item-mob:target .navigation_sub .nav-item-mob {
	height: 40px;
}
.navigation .nav-item-mob:target .less {
	z-index: 1000;
}
.navigation .nav-item-mob:target .navigation_sub {
	padding-top:0;
}
.nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
label span {
	font-size: 60px;
	line-hight: 44px;
	text-align: center;
	color:#ccc;
	padding:0 10px 0 10px;
	text-shadow: 1px 1px 0 #999;
}
label[for="nav-trigger"] {
	position: absolute;
	left: 0; top: 0;
	z-index: 2;
	width: 30px;
	height:70px;
	cursor: pointer;
}
.nav-trigger + label, .navigation {
	-webkit-transition:left 0.3s;
	transition: left 0.3s;
}
.nav-trigger:checked + label {
	left: 265px;
	padding:0 260px 0 10px;
	background:rgba(255,255,255,0.8);
}
input:checked ~ .navigation {
	left: 0;
	z-index:100;
}
}
@media screen and (max-width: 314px) {
.navigation {
	position: fixed;
	top:-520px;
	left: 0;
		width:100%;
	margin-top:40px;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	overflow: hidden;
}
label span {
	font-size: 44px;
}
label[for="nav-trigger"], label span {
	position: fixed;
	top: 0; left: 0; right:0;
	height: 44px;
	width: 100%;
	background:#222;
	z-index: 1000;
}
.navigation .nav-item-mob{
	width: 100%;
}
.nav-trigger:checked + label {
	left: 0;
}	
input:checked ~ .navigation {
	top: 4px;
}	
}
@media print {
}